
:root {
    
    flex-grow: 1;
    flex-basis: 0;
 
    --container__padding: 2%;
    --progress-fill__border-radius:  5px;
    
    --root__width: 87%;
    --container__border-radius-default:  10px;

    --color-bg-light: #494A45;
    --text-shadow-default: 15px 15px 15px black;
}
.bar-progress__container,
.bar-progress__fill,
.bar-progress__value-group,
-bar-progoress__label{
    flex-basis: 0;
}


.bar-progress{
    height: var(--root__height);
    width: var(--root__width);
    flex-direction: row;
    align-self: center;
    position: absolute;
    margin: auto;
}
.bar-progress_background,
.bar-progress__value-label{
    position: absolute;
}

.bar-progress__background{
    background-color: var(--color-bg-light);
}

.bar-progress__container{
    
    height: 100%;
    width: 87%;
    align-self: center;
    border-color: var(--color-pink-highlight);
    border-left-width: var(--container__border-width-default);
    border-right-width: var(--container__border-width-default);
    border-top-width: var(--container__border-width-default);
    border-bottom-width: var(--container__border-width-default);
    /*margin: auto;*/

    border-radius: var(--container__border-radius-default);
    padding:  var(--container__padding);

}
.bar-progress__background {
    background-color: var(--color-bg-light);
}

.bar-progress__fill{
    height: 100%;
    border-radius: var(--progress-fill__border-radius);
}

.bar-progress__value-group{
    flex-grow: 1;
}

.bar-progress__value-label{

    color: var(--color-white);
    text-shadow: var(--text-shadow-default);
}